/* src/styles/custom.css */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Zoom out */
  }
}

.animate-zoom {
  animation: zoom 15s infinite ease-in-out; /* Duración de 10s, se repite infinitamente */
  overflow: hidden; /* Evita que la imagen se desborde */
}

/*carrusel
/* src/styles/custom.css */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04); /* Zoom in */
  }
  100% {
    transform: scale(1.01); /* Zoom out */
  }
}

.animate-zoomc {
  animation: zoom 20s infinite ease-in-out; /* Duración de 10s, se repite infinitamente */
  overflow: hidden;
}

/*Modal List*/
.modal-container {
  width: 80%; /* Ajusta este valor según tus necesidades */
  max-width: 1200px; /* Establece un ancho máximo para evitar que sea demasiado grande */
}

body {
  background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
  min-height: 100vh;
  margin: 0;
}
